html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
	display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.my-login-page .brand {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 512px;
	margin-top: auto;
	margin-bottom: auto;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 8px;
}

.my-login-page .card .card-title {
	margin-bottom: 32px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
	font-weight: 600;
}

.my-login-page .btn.btn-block {
	padding: 16px 8px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 16px;
	}
}
